<a href="https://colab.research.google.com/github/tariksitki/My_Colab_Python_Works/blob/main/emre_hoca_soru2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
def facto(n):
  if n < 1:
    return 1
  else:
    return (n * facto(n - 1)) 

print(facto(5))

120

In [ ]:
5 * 4!

In [ ]:
5 * 4 * 3!

In [ ]:
5 * 4 * 3 * 2!

Python Program to Find the Factorial of a Number The factorial of a number is the product of all the integers from 1 to that number. For example, the factorial of 6 is 12345*6 = 720. Factorial is not defined for negative numbers, and the factorial of zero is one, 0! = 1.

In [1]:
sayi = 

if sayi < 0 :
  print("Lütfen pozitif tamsayi giriniz")
  sayi

In [ ]:
def factor(x):
  result = 1
  for i in range(x):
    result *= (i + 1)    ##  eger burada +1 demezsek 0 dan baslar ve sonuc 0 olur
  return print(result)  ##  Attention:  return print dedik
factor(6)

In [30]:
def factorial(n):
  if n <= 1:
    return 1
  else:
    return n * factorial(n -1)

factorial(5)

120

Try to find out if a number you get from the user is perfect. A number is called a "perfect number" if the sum of its divisors is equal to itself. For example, 6 is a perfect number. (1 + 2 + 3 = 6)

In [12]:
sayi = int(input("Lütfen sayi giriniz: "))
bos = 0
for i in range(1, sayi):
  if sayi % i == 0:
    bos += i

if bos == sayi:
  print("Bu sayi bir perfect numberdir")
else:
  print("Bu sayi perfect number degildir")

Lütfen sayi giriniz: 6
Bu sayi bir perfect numberdir

In [35]:
## Abdullah

sayi = int(input())
toplam = 0

for i in range(1, sayi):
  if sayi % i == 0:
    toplam += i
print("Bu bir perfect sayidir" if toplam == sayi else "Bu bir perfect sayi degildir")

6
Bu bir perfect sayidir

In [37]:
## Abdullah
# list comprehension ile

sayi = int(input())
toplam = 0

print("Bu bir perfect sayidir" if sayi == sum([i for i in range(1, sayi) if sayi % i == 0])  else "Bu bir perfect sayi degildir")

6
Bu bir perfect sayidir

In [41]:
sayi = int(input())
toplam  = 0 
print("perfect sayi" if sayi == sum([i for i in range(1, sayi) if sayi % i == 0]) else "perfect sayi degil")

5
perfect sayi degil

Write a Python program to compute the greatest common divisor (GCD) of two positive integers

In [21]:
sayi = int(input("Lütfen bir sayi giriniz: "))
sayi2 = int(input("Lütfen ikinci sayiyi giriniz: "))

if sayi > sayi2:
  kücük = sayi2
else:
  kücük = sayi

bos = 0           ## range zaten büyüyerek gidecek. o nedenle bos en son en büyük olacak
for i in range(1, (kücük + 1)):
  if sayi % i == 0 and sayi2 % i == 0:
    bos = i
print(bos)

Lütfen bir sayi giriniz: 90
Lütfen ikinci sayiyi giriniz: 900
90

In [43]:
#abdullah:

a = int(input("pozitif sayi "))
b = int(input("ikinci pozitif sayi "))

sayi = 0
for i in range(1, (a + 1)):
  if a % i == 0 and b % i == 0:
    sayi = i
print(sayi)

pozitif sayi 1000
ikinci pozitif sayi 100
100

In [ ]:
for i in range(0, 11):
  print(f"")

Try to print a multiplication table with numbers from 1 to 10.

In [48]:
for i in range(1, 11):
  for j in range(1, 11):
    print(f"{i} x {j} = ", i * j)
  print("------------")

1 x 1 =  1
1 x 2 =  2
1 x 3 =  3
1 x 4 =  4
1 x 5 =  5
1 x 6 =  6
1 x 7 =  7
1 x 8 =  8
1 x 9 =  9
1 x 10 =  10
------------
2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 =  10
2 x 6 =  12
2 x 7 =  14
2 x 8 =  16
2 x 9 =  18
2 x 10 =  20
------------
3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 =  12
3 x 5 =  15
3 x 6 =  18
3 x 7 =  21
3 x 8 =  24
3 x 9 =  27
3 x 10 =  30
------------
4 x 1 =  4
4 x 2 =  8
4 x 3 =  12
4 x 4 =  16
4 x 5 =  20
4 x 6 =  24
4 x 7 =  28
4 x 8 =  32
4 x 9 =  36
4 x 10 =  40
------------
5 x 1 =  5
5 x 2 =  10
5 x 3 =  15
5 x 4 =  20
5 x 5 =  25
5 x 6 =  30
5 x 7 =  35
5 x 8 =  40
5 x 9 =  45
5 x 10 =  50
------------
6 x 1 =  6
6 x 2 =  12
6 x 3 =  18
6 x 4 =  24
6 x 5 =  30
6 x 6 =  36
6 x 7 =  42
6 x 8 =  48
6 x 9 =  54
6 x 10 =  60
------------
7 x 1 =  7
7 x 2 =  14
7 x 3 =  21
7 x 4 =  28
7 x 5 =  35
7 x 6 =  42
7 x 7 =  49
7 x 8 =  56
7 x 9 =  63
7 x 10 =  70
------------
8 x 1 =  8
8 x 2 =  16
8 x 3 =  24
8 x 4 =  32
8 x 5 =  40
8 x 6 =  48
8 x 7 =  56
8 x 8 =  64
8 x 9 =  72
8 x 10 =  80
------------
9 x 1 =  9
9 x 2 =  18
9 x 3 =  27
9 x 4 =  36
9 x 5 =  45
9 x 6 =  54
9 x 7 =  63
9 x 8 =  72
9 x 9 =  81
9 x 10 =  90
------------
10 x 1 =  10
10 x 2 =  20
10 x 3 =  30
10 x 4 =  40
10 x 5 =  50
10 x 6 =  60
10 x 7 =  70
10 x 8 =  80
10 x 9 =  90
10 x 10 =  100
------------

In [49]:
liste = ["a", "b", "c", "d", "e"]

for i in liste:
  for j in range(1, 11):
    print(f"{i} x {j} = ", i * j)
  print("------------")

a x 1 =  a
a x 2 =  aa
a x 3 =  aaa
a x 4 =  aaaa
a x 5 =  aaaaa
a x 6 =  aaaaaa
a x 7 =  aaaaaaa
a x 8 =  aaaaaaaa
a x 9 =  aaaaaaaaa
a x 10 =  aaaaaaaaaa
------------
b x 1 =  b
b x 2 =  bb
b x 3 =  bbb
b x 4 =  bbbb
b x 5 =  bbbbb
b x 6 =  bbbbbb
b x 7 =  bbbbbbb
b x 8 =  bbbbbbbb
b x 9 =  bbbbbbbbb
b x 10 =  bbbbbbbbbb
------------
c x 1 =  c
c x 2 =  cc
c x 3 =  ccc
c x 4 =  cccc
c x 5 =  ccccc
c x 6 =  cccccc
c x 7 =  ccccccc
c x 8 =  cccccccc
c x 9 =  ccccccccc
c x 10 =  cccccccccc
------------
d x 1 =  d
d x 2 =  dd
d x 3 =  ddd
d x 4 =  dddd
d x 5 =  ddddd
d x 6 =  dddddd
d x 7 =  ddddddd
d x 8 =  dddddddd
d x 9 =  ddddddddd
d x 10 =  dddddddddd
------------
e x 1 =  e
e x 2 =  ee
e x 3 =  eee
e x 4 =  eeee
e x 5 =  eeeee
e x 6 =  eeeeee
e x 7 =  eeeeeee
e x 8 =  eeeeeeee
e x 9 =  eeeeeeeee
e x 10 =  eeeeeeeeee
------------

Write a program to find all the Armstrong numbers present in between two intervals in Python. For example, Armstrong numbers between 100 and 2000.

# let’s find a similar one to this question, friends.
# write a program to find all the Armstrong numbers present in between two intervals in Python. For example, Armstrong numbers between 100 and 2000. Expected output:
# 153
# 370
# 371
# 407
# 1634

In [55]:
sayi = int(input("sayi giriniz: "))
sayi2 = int(input("sayi giriniz: "))

for i in range(sayi, (sayi2 + 1)):
  basamaklar = [int(j) for j in str(i)]
  bos = 0
  for k in range(len(str(i))):
    bos += (basamaklar[k] ** len(str(i)))
  if bos == i:
    print(i)

sayi giriniz: 100
sayi giriniz: 2000
153
370
371
407
1634