<a href="https://colab.research.google.com/github/tariksitki/My_Colab_Python_Works/blob/main/lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##############           lambda function

In [ ]:
#########         inclass

In [ ]:
# burada func tanimlama icin kullandigimiz ifadeye lambda denir
# bu ifade ile olusturdugumuz func a ise lambda func denir

# Lambda fonksiyonları Python programlama dilinin ileri düzey fonksiyonlarından biridir.

In [ ]:
# Lambda fonksiyonlarını, bir fonksiyonun işlevselliğine ihtiyaç duyduğumuz, 
# ama konum olarak bir fonksiyon tanımlayamayacağımız veya fonksiyon 
# tanımlamanın zor ya da meşakkatli olduğu durumlarda kullanabiliriz.

In [5]:
# lambda func genel yapisi su sekildedir:

lambda parameter(s) : body(expression)

lambda x : x + 10

# bu tanimin anlami sudur:

# 'x' adlı bir parametre alan bir lambda fonksiyonu tanımlayin. Bu fonksiyon, bu
# 'x parametresine 10 sayısını eklesin.

In [ ]:
#  peki lambda func'i nasil call ediyoruz?

In [7]:
def kare(a):       ##  normal def ile tanimlanmis bir func
  return a ** 2

a = lambda x : x ** 2   # lambda
print(a(6))

36

In [ ]:
# lambda func mantigini anlamak icin su sekilde bir düsünme tarzi olabilir
# yukaridaki örnekte lambda kelimesi dahil  2 harfi dahil olmak üzere arada
# kalan tüm ifadeler normal def ile tanimlanmis bir func gibi düsünülebilir.
# arguman olarak yazilan 6 rakami ise def ile tanimladigimiz func'a girilen
# arguman olarak düsünülebilir

In [8]:
# tabi ki lambda func birden cok parameter de alabilir

a = lambda x, y, z : x * y * z 

print(a(1, 2, 3))

6

In [14]:
##  lambda ile if statementslari birlikte kullanma:

##  lambda icerisinde kullanacagimiz if yapisi ayni list comp daki gibidir.

# yani su sekilde:

#  if'den bekledigimiz output +  if yapisi +  else + else de bekledigimiz output

# Dikkat: burada bir fark vardir. List comp' da else yazmak zorunda degildik.
# Cünkü islemler bir liste icerisinde gerceklestiginde, if yapisi calisirsa
# listeye sonucu append ediliyordu. calismaz ise liste bos kaliyordu.

# ancak lambda da durum farklidir. Burada bir liste icinde calisma gibi bir durum 
# söz konusu degildir. o nedenle if calismazsa ne olacagini da belirtmemiz gerekir.
# bu da else ile yapilir

a = (lambda x : "cift sayi" if x % 2 == 0 else "tek sayi")

print(a(6))

In [15]:
# lambda func'a herhangi bir arguman gönderemdigimiz sürece
# on the air bir lambda func üretir.
# tam olarak calistirabilmek icin bir arguman göndermek zorundayiz

a = (lambda x : "cift sayi" if x % 2 == 0 else "tek sayi")
a

In [41]:
# task
# kullanicinin girmis oldugu stringi tersten yazan bir lambda func yapiniz

a = lambda x : x[::-1]
print(a(input("Lütfen bir kelime giriniz: ")))

# Not: def func altinda, kullanicidan bir girdi alabiliyorduk.
# lambda da ise func tanimlarken girdi alamiyoruz. Cünkü;
# lambda call ederken bir arguman girmemiz gerekiyor. Bu nedenle 
# kullanicidan alacagimiz girdiyi lambda nin argumani olarak aliriz

Lütfen bir kelime giriniz: benim
mineb

In [27]:
#  reversed() func ve reverse() methodu:

# reversed() bir func dir ve bu nedenle icerisine arguman alir.
# ancak sadece tek bir eleman alir. birden fazla eleman almaz.
# biz bir iterable'in elemanlarini ters cevirmek isteyecegimizden
# bu arguman genellikle bir iterable olur

# reversed() func ketum bir func' dir. Bu nedenle acilmak ister

In [32]:
liste = [1, 2, 3, 4, 5 ,6]

print(*reversed(liste))

6 5 4 3 2 1

In [33]:
# tuple ile kullanim

liste = (1, 2, 3, 4, 5 ,6)
print(*reversed(liste))

6 5 4 3 2 1

In [35]:
# setler ve dictler not reversible verilerdir. Bu nedenle reversed ile 
# kullanilamazlar

In [37]:
# string ile kullanim:

a = "computer"
print(*reversed(a))

r e t u p m o c

In [39]:
###########   reverse methodu:

# sadece listelere ait bir methoddur. Bir method oldugu icin
# liste isminden sonra kullanilir ve icine arguman almaz.

# print icerisinde yada bir degiskene atayarak kullanilamaz

# Kullanim sekli söyledir:

liste = [1, 2, 3, 4, 5 ,6]
liste.reverse()

print(liste)

[6, 5, 4, 3, 2, 1]

In [ ]:
###  lambda func'in iki türlü kullanimi vardir.
# Birincisi su ana kadar ögrendigimiz, normal bir lambda olusturma ve
# daha sonra bunu call etme.

# ikincisi ise su sekildedir:
# bir degiskene lambda func atama ve bu degiskeni baska yerde kullanma:

In [42]:
# Bu kullanimda, argumanlari hemen lambdanin yanina yazariz.

a = (lambda x, y : (x * y) / 2)(3, 6)

b = a + 10
print(b)

19.0

In [47]:
# Birde su sekilde kullanim vardir:

a = (lambda x, y : (x * y) / 2)

print(a(3, 6))
callable(a)

# Bu kullanimda ise, a degiskenini fonksiyonlastiriyoruz.
# yani artik func cagirmak yerine a degiskenini cagiriyoruz.

# Bu durumun saglamasini da su sekilde yapiyoruz.
# callable func ile a'nin callable olup olmadigini sorguluyoruz.

9.0

True

In [49]:
##  lambda func'i tabi ki direkt olarak print icerisinde de kullanabilirz.

# tabi ki bu durumda lambda func dan elde ettigimiz output u baska bir yerde 
# kullanma imkanimiz yoktur

print((lambda x, y : (x * y) / 2)(3, 6))

9.0

In [52]:
# task:

# bir lambda func yaziniz. Bir liste de bulunan tüm sayilari teker teker
# kontrol etsin ve her bir sayi ile birlikte bu sayinin tek mi cift mi oldugunu 
# output olarak versin

liste = [1, 2, 3, 4, 5, 6]

for i in liste:
  print(i, ":", (lambda x : "Cift" if x % 2 == 0 else "Tek")(i))

1 : Tek
2 : Cift
3 : Tek
4 : Cift
5 : Tek
6 : Cift

In [58]:
###  lambda tek satirda tanimlandigi icin def te yaptigimiz herseyi
# lambda ile yapamayiz.

# ayni if yapilari ile list comp gibidir

In [ ]:
## lambda func'i map()  func ile birlikte kullanma:

## task:
# girilen herbir kelimeyi  yada cümleyi büyük yazdiran bir func yaziniz. 
# map ve lambda kullaniniz

In [61]:
girdi = list(map((lambda x : x.upper()), input("Lütfen bir cümle giriniz: ").split()))
print(girdi)

####  Önemli    vvvvvvvv

Lütfen bir cümle giriniz: ben seno öfjd öklfdkjds äkgjd
['BEN', 'SENO', 'ÖFJD', 'ÖKLFDKJDS', 'ÄKGJD']

In [ ]:
##  Burada biz lambda func' i calistirmak icin hicbir arguman girmedik.
# cünkü map func,  iterable in her bir elemanini aliyor ve teker teker 
# lambda func' a arguman olarak atiyor

In [2]:
# Tabi ki, bu soruyu cözerken, lambda func'i ve iterable'i bir degiskene atayabiliriz.
# ve map icerisinde cagirabiliriz:

function = lambda x : x.upper()
girdi = input("Lütfen bir cümle giriniz: ")
new = list(map(function, girdi.split()))
print(new)

Lütfen bir cümle giriniz: ben sen o
['BEN', 'SEN', 'O']

In [4]:
#  simdi de ayni task i def ile yapalim:

def büyük(a):
  return a.upper()

girdi = input("Lütfen bir cümle giriniz: ")
new = list(map(büyük, girdi.split()))
print(new)

In [6]:
##  task:
# map()  ve lambda kullanarak
# 3 tane iterable dan anlamli kelimeler cikartiniz:

a = ["o", "s", "t", "t"]
b = ["n", "i", "e", "w"]
c = ["e", "x", "n", "o"]              ## Önemli:  map()  icerisine birden cok iterable alabilir
                                      #  map() in tanimina bakalim
new = list(map((lambda x, y, z : x + y + z), a, b, c))
print(new)

##  Not: burada 3 tane iterable'imiz oldugu icin lambda func'in da 
# 3 tane parametresi vardir

['one', 'six', 'ten', 'two']

In [10]:
# map()  in bu özelligini nerede kullanabiliriz?
# elimizde isim ve soyisimlerden olusan iki iterable olsun.
# ve biz for döngüsü kullanmadan isim ve soyisimleri eslestirelim

isimler = ["ali", "veli", "ayse", "fatma"]
soyisimler = ["kaya", "kilic", "ates", "altintas"]

new = list(map((lambda x, y : x + " " + y), isimler, soyisimler))

print(new)

['ali kaya', 'veli kilic', 'ayse ates', 'fatma altintas']

In [12]:
##  task:

# iki tane listemiz var. Bu listelerde, ayni index numarasina gelen 
# sayilari toplayip her birinin ortalamasini bulalim
# map() ve  lambda kullanalim

a = [9, 6, 7, 4]
b = [3, 6, 5, 8]

new = list(map((lambda x, y : (x + y) / 2), a, b))
print(new)

[6.0, 6.0, 6.0, 6.0]

In [ ]:
###  task:

# 3 tane iterable' imiz var.
# bu iterable'larin ayni index numarasina gelen elemanlari ile
# anlamli cümleler yazacagiz

In [21]:
a = ["you", "much", "hard"]
b = ["i", "you", "he"]
c = ["love", "ate", "works"]

func = (lambda x, y, z : x + " " + y + " " + z) 
new = list(map(func, b, c, a))
print(new)

new2 = map(print, new)   ###  Dikkat: Burada map func icerisine print func koyduk
next(new2)
next(new2)
next(new2)

['i love you', 'you ate much', 'he works hard']
i love you
you ate much
he works hard

In [ ]:
lambda x: "odd" if x % 2 != 0 else even

In [ ]:
(lambda x: "odd" if x % 2 != 0 else "even")(2)

'even'

In [ ]:
(lambda x: "odd" if x % 2 != 0 else "even")(3)

'odd'

In [ ]:
(lambda x: list(x).reverse())("ali")

In [ ]:
"ali".reverse()

AttributeError: ignored

In [ ]:
print((lambda a, b: (a + b) / 2)(3, 5))

4.0

In [ ]:
sayilar = [1,2,3,4]

(lambda x: "cift" if x % 2 == 0 else "tek" for i in x)(sayilar)

SyntaxError: ignored

In [ ]:
for a in sayilar:
  print((lambda x: "odd" if x % 2 != 0 else "even")(a))

odd
even
odd
even

In [ ]:
average = lambda x, y: (x + y) / 2

print(average(3, 5))

4.0

In [ ]:
a = lambda x, y: x * y

print(a(5, 10))

50

In [ ]:
fonksiyon = lambda x: x ** 2

sonuc = map(fonksiyon, [1, 2, 3])

print(*sonuc)

1 4 9

In [ ]:
fonk = (lambda x: x * "ali")

print(*map(fonk, [1, 2, 3, 4, 5, 6, 7]), sep = "\n")

ali
aliali
alialiali
alialialiali
alialialialiali
alialialialialiali
alialialialialialiali

In [ ]:
fonk = (lambda x: x * "ali")

print(list(map(fonk, [1, 2, 3, 4, 5, 6, 7])))

['ali', 'aliali', 'alialiali', 'alialialiali', 'alialialialiali', 'alialialialialiali', 'alialialialialialiali']

In [ ]:
def kare(b):
  return b ** 2

sonuc2 = list(map(kare, [1, 2, 3, 4, 5]))

In [ ]:
topla = lambda x, y, z: x + y + z 

topla("a", "l", "i")

# degiskeni func gibi kullandik

'ali'

In [ ]:
a = ["o"]
b = ["n"]
c = ["e"]

sonuc = (map(lambda x, y, z: x + y + z))

print(list(sonuc(a, b, c)))

TypeError: ignored

In [ ]:
num1 = [9, 6, 7, 4]
num2 = [3, 6, 5, 8]

func = lambda x, y: (x + y) / 2
numbers = map(func, num1, num2)

print(list(numbers))

[6.0, 6.0, 6.0, 6.0]

In [ ]:
w1 = ["you", "much", "hard"]
w2 = ["i", "you", "he"]
w3 = ["love", "ate", "works"]

func = lambda x, y, z: x + " " + y + " " + z
new = map(func, w2, w3, w1)

print(*new)

i love you you ate much he works hard

In [ ]:
a = [1, 2, 3, 4]

even = filter((lambda x: x % 2 == 0), a)

print(*even)

2 4

In [ ]:
words = ["apple", "swim", "clock", "me", "kiwi", "banana"]

func = (lambda x: len(x) < 5)

print(*filter(func,words))

swim me kiwi

In [ ]:
words = ["apple", "swim", "clock", "me", "kiwi", "banana"]

for i in filter(lambda x: len(x) < 5, words):
  print(i)

swim
me
kiwi

In [ ]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

vowels = filter((lambda x: x in vowel_list), first_ten)

print(list(vowels))

['a', 'e', 'i']

In [ ]:
def modular(n):
  return lambda x: x ** n

In [ ]:
def modular(n):
  return lambda x: x ** n

karesinial = modular(2)

karesinial  ##  bu object döndürür

print(karesinial(3))

küpünüal = modular(3)
print(küpünüal(2))

9
8

In [ ]:
lambda x : print(x, ":)")("ali")

In [ ]:
lambda x : print(x, ":(")("ali")

In [ ]:
lambda x : print(x, ":|")("ali")

In [ ]:
def functioner(emoji):
  return lambda x : print(x, emoji)

myPrint_smile = functioner(":)")
myPrint_sad = functioner(":(")
myPrint_neutral = functioner(":|")

myPrint_sad("hello")

hello :(

In [ ]:
def ali_print(x):

In [ ]:
def function_generator(function_name):
  return lambda x: function_name(x)

tarikmax = function_generator(max)
tariksorted = function_generator(sorted)

tarikmax((2, 1, 23))

23

In [ ]:
def benimfonk(n) :
  return lambda x : n(x)

a = benimfonk(str)
b = benimfonk(list)
c = benimfonk(bool)
d = benimfonk(tuple)

print(a("tarik"))
print(b("tarik"))
print(c("tarik"))
print(d("tarik"))

tarik
['t', 'a', 'r', 'i', 'k']
True
('t', 'a', 'r', 'i', 'k')

In [ ]:
def tarik(n):   ## parametre 
  print(n + 2)

tarik(12345)   ## argument

12347

In [ ]:
myMax = function_generator(max)
myBool = function_generator(bool)
mySorted = function_generator(sorted)

myBool(3)

mySorted([3, 2, 1])

In [ ]:
sehir = lambda x, y : (x , y)

print(sehir("5", "5"))

('5', '5')

In [ ]:
sehir = lambda x, y : max(x, y)
print(sehir(2, 3))

3

In [ ]:
max(3, 5)

5

In [ ]:
print(2)

2

In [ ]:
max(2, 3)

3

In [ ]:
def sehir(a, b):
  return lambda x, y : (a(x), b(y))

ege = sehir(list, tuple)

print(ege("ankara", "istanbul"))

(['a', 'n', 'k', 'a', 'r', 'a'], ('i', 's', 't', 'a', 'n', 'b', 'u', 'l'))

In [ ]:
def sayi(i, f):
  return lambda x, y : (i(x), f(y))

ege = sayi(int, float)
ege(12345, 12345)

(12345, 12345.0)

In [ ]:
def ben(a):
  return a

ben(4)

4

In [ ]:
from google.colab import drive
drive

SyntaxError: ignored